
#outerMargin{
	margin: 2% 2% 0% 2%;
	background-color: #ffe0e0;
	float:left;
	width:96%;
}

#header{
	background-color: #d89696;
	text-align: center;
	float: left;
	width: 100%;
}

#pageLink{
	background-color: #a28181;
	
}

#pageLink h3{
	display: inline;
	padding: 0.5%;
}

a{
	text-decoration:none;
	color: #9e2424;
}

a:hover {
	background-color: #cbb6c1;
}

#leftdiv{
	float: left;
	width: 20%;
	margin: 2%;
	
}

h2{
	padding: 5%;
	background-color:#d89696; 	
}

#verticalMenu{
	background-color: #efcdcd; 
}

#verticalMenu a{
	display: block;
	padding-left: 5%; 
	padding-bottom: 5%;
}


#newBlock{
	background-color: #efcdcd;
}


p{
	font-size: 18px;
	text-align: left;
	padding-left: 5%;
}

#centerDiv{
	float: left;
	width: 45%;
	margin: 2%;
}

img{
	width:100%;
}

#rightDiv{
	float: left;
	width: 20%;
	margin: 2%;
}

#search{
	background-color: #efcdcd;
}

#category{
	background-color: #efcdcd;
	margin-top: 20px;
}

#category a{
	display: block;
	padding-left: 5%;
}

#Archives{
	background-color: #efcdcd;
	margin-top: 20px;
}

#Archives a{
	padding-left: 5%;
	display: block;
}

#footerMargin{
	margin: 0% 2% 2% 2% ;
	background-color: #dedade;
	float:left;
	width:96%;
}

footer {
	float:left;
	margin-left:45%;
	text-align: center;
}
