*{
	margin: 0;
	padding: 0;
}

body{
	background-color:#0a92f5; 
	font-family: serif;
}

#header{
	margin-left: 5%;
	margin-top: 5%;
	font-weight:bold; 
	font-size: 40px;
	color:#fff;
}

section {
	margin-left: 5%;
	color: #fff;
}

section #labels{
	float: left;
	line-height:40px;
	padding: 2% 2% 2% 0;
	font-size: 20px;
}

section #inputs{
	float: left;
	line-height:40px;
	font-size: 20px;
	padding: 2%;
}

.clear{
	clear: both;	
}

#footer{
	color: #fff;
	margin-left: 5%;
	margin-top: 2%;
	font-size: 20px;
}

button{
	font-size: 20px;
	color: #444;
}